.container {
  width: min(100%, 1440px);
  margin: auto;
  background-color: black;
  padding-top: 20px;
}
/* LandingPage */
.landingDiv {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.MercedesLogoLanding {
  width: 250px;
  height: 250px;
  margin-bottom: 150px;
}
.landingTitle {
  padding: 20px;
  font-size: 50px;
  cursor: pointer;
  letter-spacing: 2px;
  transition: 0.2s ease-in-out;
  border: none;
  border: 1px solid rgb(113, 113, 113);
  border-radius: 20%;
  background-color: rgb(3, 3, 3);
  color: rgb(113, 113, 113);
}

.landingTitle:hover {
  background-color: rgb(113, 113, 113);
  scale: 0.9;
  color: black;
}

.MercedesLogoLanding {
  animation-name: spinner;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* SignIn */
.verificationForm,
#registrationForm {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  row-gap: 10px;
}

#username,
#password,
#firstName,
#lastName,
.signInButton,
#registrationButton {
  border: 2px solid rgb(113, 113, 113);
  border-radius: 5px;
  width: 250px;
  height: 40px;
}

.signInButton,
.registrationButton {
  font-size: 20px;
  color: rgb(113, 113, 113);
  font-weight: bold;
  cursor: pointer;
}

.createNewAcc {
  color: white;
  font-size: 20px;
  text-decoration: underline;
}

.wrongPass {
  font-size: 15px;
  color: red;
  display: none;
}

.registrationTitle {
  font-size: 25px;
  color: white;
  margin-bottom: 10px;
}

body {
  font-family: "Comme", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
